            @font-face {
              font-family: 'UKNumberPlate';
              src: url('/fonts/UKNumberPlate.ttf');
            }
            
            html, body {
                color: #636b6f;
                font-family: 'Nunito', sans-serif;
                font-weight: 200;
                height: 100vh;
                margin: 0;
                background: #ffffff; /* Old browsers */
                background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #e5e5e5 100%); /* FF3.6-15 */
                background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
                background: radial-gradient(ellipse at center, #ffffff 0%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
            }

            .full-height {
                height: 100vh;
            }

            .flex-center {
                align-items: center;
                display: flex;
                justify-content: center;
            }

            .position-ref {
                position: relative;
            }

            .top-right {
                position: absolute;
                right: 10px;
                top: 18px;
            }

            .content {
                text-align: center;
            }

            .title {
                font-size: 84px;
            }

            .links > a {
                color: #636b6f;
                padding: 0 25px;
                font-size: 13px;
                font-weight: 600;
                letter-spacing: .1rem;
                text-decoration: none;
                text-transform: uppercase;
            }

            .m-b-md {
                margin-bottom: 30px;
            }

            .numberplate {
                background:yellow; 
                border-radius: 5px; 
                font-family:UKNumberPlate; 
                font-size:3em; 
                text-align: center; 
                border: 3px solid #666;
                color:#333;
            }

            .result {
                background:rgba(0,0,0,0.1); 
                border-radius: 5px; margin:15px 0; 
                border:1px rgba(0,0,0,0.2) solid;
                padding:20px 0;
                color:#333;
                line-height: 1.5em;
                text-align:center;
            }

            .logo {width:80%; margin-bottom:40px;}

            .Aligner {
              display: flex;
              align-items: center;
              justify-content: center;
            }

            .Aligner-item {
              max-width: 50%;
            }

            .Aligner-item--top {
              align-self: flex-start;
            }

            .Aligner-item--bottom {
              align-self: flex-end;
            }


            